<!--
  Generated template for the PontoIrregularPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cadastrar Ponto Irregular</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="sair()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

   <ion-title>Porte de Pilha de Resíduos</ion-title>
 
<ion-list radio-group [(ngModel)]="relationship">
  <ion-item>
    <ion-label>Lixo</ion-label>
    <ion-radio value="saco" checked></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Caçamba</ion-label>
    <ion-radio value="caçamba"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Terreno</ion-label>
    <ion-radio value="enemies" [disabled]="isDisabled"></ion-radio>
  </ion-item>
</ion-list>


    <ion-title>Entorno:</ion-title>
  
<ion-list radio-group [(ngModel)]="relationship">
  <ion-item>
    <ion-label>Casa</ion-label>
    <ion-checkbox value="casa" ></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Escola</ion-label>
    <ion-checkbox value="escola"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Hospital </ion-label>
    <ion-checkbox value="hospital"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Comércio</ion-label>
    <ion-checkbox value="comercio" ></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Vegetação</ion-label>
    <ion-checkbox value="vegetacao"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label> Rio </ion-label>
    <ion-checkbox value="rio" ></ion-checkbox>
  </ion-item>
</ion-list>


    <ion-title>Tipo de Resíduos:</ion-title>

<ion-list radio-group [(ngModel)]="relationship">
  <ion-item>
    <ion-label>Entulho</ion-label>
    <ion-checkbox value="casa" ></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Organico</ion-label>
    <ion-checkbox value="organico"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Poda</ion-label>
    <ion-checkbox value="poda"></ion-checkbox>
  </ion-item>
</ion-list>

<ion-item>
   <ion-label floating>Observações:</ion-label>
    <ion-textarea type="text"> </ion-textarea>
  </ion-item>

 
  
 <div padding text-center>
      <button ion-button (click)="tirarFoto()"><ion-icon name="camera"></ion-icon> </button>

      </div>
      
     
      <img [src]="foto" *ngIf="foto"/>
  

 <div padding text-center>
<button ion-button > Enviar </button>

 </div>

</ion-content>
