


<ion-tabs color="primary"tabsHighlight="true">


<ion-tab [root]="tab1Root" tabTitle="Perfil" tabIcon="person"></ion-tab> 
<ion-tab [root]="tab2Root" tabTitle="Mapa" tabIcon="map"></ion-tab>
<ion-tab [root]="tab3Root" tabTitle="Cadastrar Ponto Irregular" tabIcon="add"></ion-tab>



</ion-tabs>