
 <form (ngSubmit)="verificarLogin()"> 
  <ion-item>
    <ion-label floating>Login</ion-label>
    <ion-input type="text" ></ion-input>
  </ion-item>

 

  <ion-item>
    <ion-label floating>Senha</ion-label>
    <ion-input type="password" ></ion-input>
    <button ion-button block clear>Esqueci minha senha </button>
  </ion-item>


   

 <div padding text-center>
<button ion-button type="submit" > Entrar </button>
 </div>

 </form>




<div padding text-center>
  <button ion-button color="danger" (click)="irParaPagina('DenunciaPage')">  Quero Realizar uma Denúncia! </button>
</div>
