<ion-header>

 <ion-navbar color="primary">
    <ion-title>Realizar Denúncia</ion-title>
  </ion-navbar>


</ion-header>

<ion-content padding>

  <app-denuncia-form></app-denuncia-form>

</ion-content>
