<ion-card>
  
  
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/fiscal.png">
      </ion-avatar>
      <p>NomeDoFiscal</p>
      <p text-wrap>Fiscal de Resíduos sólidos da Construção Civil</p>
    </ion-item>
  
    <img src="assets/img/prefeituraRecife.png">
  
</ion-card>
<br>
<ion-title>Denúncias Pendentes: </ion-title>
  <ion-list>
    <ion-item *ngFor="let denuncia of denunciaListRef$ | async ; let i=index"  (click)="selecionarDenuncia(denuncia)">
    

      <p> Denúncia {{i + 1}} </p>
     
      
      
      
  
    </ion-item>
  </ion-list>