<ion-header>

   
    <ion-navbar color="primary">
  
      <ion-buttons end>
        <button ion-button icon-only (click)="sair()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>

    <ion-title>
      Olá, NomeDoFiscal
    </ion-title>

    </ion-navbar>
 
  </ion-header>



<ion-content padding>


<app-menu-fiscal></app-menu-fiscal>


<!--
<ion-list>
  <ion-item-sliding *ngFor="let item of denunciaRef$ | async">
    <ion-item >
      Denúncia 
    </ion-item>
    <ion-item-options side="left">
      <button ion-button color="light_blue" (click)="mostrarDenuncia()">Mostrar</button>
   
      
    </ion-item-options>

    <ion-item-options side="right">
    
      <button ion-button color="white"> abrir Mapa</button>
      
    </ion-item-options>
    
  </ion-item-sliding>
</ion-list>
-->

 
</ion-content>
