<head>


<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

   

</head>

<ion-header>

  <ion-navbar color="primary">
    <ion-title>Mapa</ion-title>



  <ion-buttons end>
    <button ion-button icon-only (click)="sair()">
      <ion-icon name="log-out"></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content padding>


  <app-mapa-nativo></app-mapa-nativo>


</ion-content>
