
    <ion-title>Porte de Pilha de Resíduos:</ion-title>
    
       
   <ion-list radio-group [(ngModel)]="denuncia.quantidade">
     <ion-item>
       <ion-label>Saco(Pequeno porte)</ion-label>
       <ion-radio value="Saco" checked></ion-radio>
     </ion-item>
     <ion-item>
       <ion-label>Caçamba(médio porte)</ion-label>
       <ion-radio value="Caçamba"></ion-radio>
     </ion-item>
     <ion-item>
       <ion-label>Terreno(grande porte)</ion-label>
       <ion-radio value="Terreno" ></ion-radio>
     </ion-item>
   </ion-list>
   
   
       <ion-title>Entorno:</ion-title>
     
   <ion-list id="entorno" radio-group>
     <ion-item>
       <ion-label>Casa</ion-label>
       <ion-checkbox value="Casa" [(ngModel)]="casa"></ion-checkbox>
     </ion-item>
     <ion-item>
       <ion-label>Escola</ion-label>
       <ion-checkbox value="Escola"[(ngModel)]="escola" ></ion-checkbox>
     </ion-item>
     <ion-item>
       <ion-label>Hospital </ion-label>
       <ion-checkbox value="Hospital" [(ngModel)]="hospital" ></ion-checkbox>
     </ion-item>
     <ion-item>
       <ion-label>Comércio</ion-label>
       <ion-checkbox value="comercio" [(ngModel)]="comercio"></ion-checkbox>
     </ion-item>
     <ion-item>
       <ion-label>Vegetação</ion-label>
       <ion-checkbox value="Vegetação" [(ngModel)]="vegetacao" ></ion-checkbox>
     </ion-item>
     <ion-item>
       <ion-label> Rio </ion-label>
       <ion-checkbox value="Rio" [(ngModel)]="rio"></ion-checkbox>
     </ion-item>
   </ion-list>
   
   
       <ion-title>Tipo de Resíduos:</ion-title>
   
   <ion-list radio-group>
     <ion-item>
       <ion-label>Entulho</ion-label>
       <ion-checkbox value="Entulho" [(ngModel)]="entulho" ></ion-checkbox>
     </ion-item>
     <ion-item>
       <ion-label>Organico</ion-label>
       <ion-checkbox value="orgânico" [(ngModel)]="organico"></ion-checkbox>
     </ion-item>
     <ion-item>
       <ion-label>Poda</ion-label>
       <ion-checkbox value="Poda" [(ngModel)]="poda"></ion-checkbox>
     </ion-item>
   </ion-list>
   
   
   
         <div padding text-center>
         <button ion-button (click)="tirarFoto()"><ion-icon name="camera"></ion-icon> </button>
   
         </div>
         
        
         <img [src]="foto" *ngIf="foto"/>
     
   
    <div padding text-center>
   <button ion-button (click)="confirmarDenuncia()" > Enviar </button>
   
    </div>