<!--
  Generated template for the MostrarDenunciaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detalhes da denúncia</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <app-mostrar-denuncia></app-mostrar-denuncia>

</ion-content>
