

  



  <div padding>  
    <ion-title>Informações sobre a área:</ion-title>
 
   
      <ion-item > <ion-label text-wrap>Entorno: {{denuncia.entorno}} </ion-label> </ion-item>

 
      <ion-item > <ion-label text-wrap> Porte de pilha: {{denuncia.quantidade}} </ion-label> </ion-item>



     
      <ion-item> <ion-label text-wrap>  Tipo:  {{denuncia.tipo}} </ion-label> </ion-item>
   

    </div>

    <br>
    <br>
    <div padding>
        <img class="foto" [src]="denuncia.foto" *ngIf="denuncia.foto"/>
    </div>



    <ion-item>
        <ion-label floating>Observações:</ion-label>
         <ion-textarea type="text"> </ion-textarea>
       </ion-item>
     



<div padding text-center>
    <button ion-button end color="danger" (click)="descartarDenuncia()">Descartar</button>

  <button ion-button start color="primary" (click)="confirmarDenuncia()">Validar</button>



</div>



 